@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./css-reset.css";

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: rgba(0,0,0,.87);
}
